/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.markdown ul li {
  list-style-type: disc;
}

.markdown ul {
  list-style-type: disc !important; /* Use !important to ensure it overrides other styles */
  padding-left: 20px !important; /* Ensure the padding is applied */
}